@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,500;1,600&display=swap');
:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);

}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #eee;

}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid white;
    color: #fff;
    cursor: pointer;
    background: none;
}
.btn:hover{
    background: var(--orange);
    color: #fff;
}
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index:1000 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
 .navbar a:hover{
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
    color: white;
 }
.header .navbar.active{
    right: 2rem;
    transition: .4s linear;
}
.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}
.header .icons div:hover{
    background: var(--orange);
    color: #fff;
}
#menu-btn{
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
    padding-bottom: 10rem;
    background: url(3d-futuristic-background-with-low-poly-plexus-design.jpg);
   
}
.home .content{
    text-align: center;
    width: 60rem;
}
.home .content h3{
    color: #fff;
    font-size: 3rem;
}
.home .content span{
     color: var(--orange);
}
.home .content p{
    color: #fff;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}
.head h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 2.5rem;   
}
.head span{
  color: var(--orange);
}
.box-contain{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}
.box-contain .book{
    padding: 3rem 2rem;
    
}
.box-contain .book h2{
    font-size: 2rem;
    line-height: 1.6;
    text-decoration:underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 3px;
}
.box-contain .book .phone-link{
    font-size:4rem ;
    color: var(--orange);
} 
.box-contain .book p{
    font-size:1.8rem;
    line-height: 1.5;
}
.heading h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 2.5rem;
    
}
.heading span{
    color: var(--orange);
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}

.box-container .books{
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    margin: 10px;
}
.box-container .books h2{
    font-size: 2rem;
    line-height: 1.8rem;
    text-align: center;
}
.box-container .books p{
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding: 1rem 0;
}
.aboutus h1{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 5px;
  font-size: 2.5rem;
}
.aboutus span{
    color: var(--orange);
}
.aboutus p{
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
    margin-left: 10px;
}
.footer{
    background:black;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding-top: 1rem ;
} 
.footer .box-container .box h3 span{
    color: var(--orange);
}
.footer .box-container .box h3 i{
    color: var(--orange);
}    
.footer .box-container .box  .links{
    display: block;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;

} 
.footer .box-container .box .links i{
    color: var(--orange);
    padding-right: .5rem;
}  
.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}      

.footer .box-container .box  p{
    line-height: 1.8rem;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
}
.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}
.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;

}
.footer .credit{
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
}
.footer .credit span{
    color: var(--orange);
}

/*media queries*/
@media(max-width:991px){
    html{
        font-size: 55%;
     
    }
    .header{
        padding: 2rem;
    }
    .footer{
        text-align: center;
    }
    .head{
        text-align: center;
    }
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar.active{
        width: 90%;
    }
    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2rem;
    }
    .footer{
        text-align: center;
    }
}